@media (min-width: 768px) {
  .advice {
    padding-inline: 50px;
    width: 316px;
  }
  .advice p {
    font-size: 21px;
    padding: 26px;
  }
}

@media (max-width: 450px) {
    div.advice {
      width: 350px;
    }
  
    .player {
      width: 250px;
    }
  }

@media (max-width: 320px) {
  div.advice {
    width: 250px;
  }

  .player {
    width: 150px;
  }
}
